*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs
sdist
.installed.cfg

# My emacs backup files
*~

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.cache

# Translations
locale/
*.mo

# Sphinx
docs/_build
