{% load i18n %}
<html>
  <title>{{ title }}</title>
  <body>
    <h1>DJANGO</h1>
    <h1>{{ title }}</h1>
    <p>{{ nstring }}</p>
    <p>{{ pstring }}</p>
    <p>{% trans "paragraph one" %}</p>
    {% trans "paragraph three" as three %}
    {% comment %}
       Note: trimmed doesn't work in django-babel issue
       https://github.com/python-babel/django-babel/issues/20
    {% endcomment %}
    {% blocktrans trimmed %}
      paragraph two
    {% endblocktrans %}
    <p>{{ three }}</p>
  </body>
</html>
