# Requirements of this project. Other Django 1.7/Jingo projects should
# be similar.
django<1.8
jinja2>=2.7
jingo==0.7.1
Babel==2.0
django-babel==0.4.0

# This is for fake-translations so we can test this in Puente. You
# don't otherwise need this.
dennis

# Note: You also need to install puente.
